.registration {
    background-color: rgb(216, 222, 221);
    padding: 20px;
    min-width: 400px;
    position: relative;
    top: -80px;
}

.registration h3 {
    padding-block: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.registration div {
    display: flex;
    gap: 15px;
    padding-block: 5px;
}

.fee {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.registration button {
    width: 100%;
    padding-block: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(29, 29, 189);
    color: white;
    font-weight: bold;
    margin-top: 20px;
}