@tailwind base;
@tailwind components;
@tailwind utilities;


.slick-slider {

    .slick-next {
        right: 10px;
        z-index: 100;

        &::before {
            font-size: 35px;
            color: black;
        }
    }

    .slick-prev {
        left: 10px;
        z-index: 100;

        &::before {
            font-size: 35px;
            color: black;

        }
    }

}